/*Estilo da página*/
.pagina {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    transition: 0.5;
}


/*Estilo da tela do teste*/
.tela {
    position: absolute;
    background-color: snow;
    width: 90%;
    height: 90%;
    position: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    top: 5vh;
    left: 10vh;
    border-color: transparent;
}

/*Divisão das telas*/
#line {
    background-color: black;
    width: 90%;
    height: 1px;
    position: absolute;
    top: 45%;
    left: 57px
}

/*Variáveis dos estilos*/
:root {
    --disabled-color: rgba(0, 0, 0, 0.5);
    --disabled-cursor: not-allowed;
    --enabled-color: black;
    --enabled-cursor: pointer;
    --butao8-color: transparent;
    --butao8-cursor: not-allowed;

}

/*Título principal*/
#titulo {
    position: absolute;
    top: 0vh;
}

/*Parágrafo*/
#paragrafo {
    position: absolute;
    top: 10vh;
    color: black
}

/*Tela dos botões*/
.botao {
    position: fixed;
    display: flex;
    width: 1115px;
    height: 50vh;
    top: 45vh;
    left: 10vh;
    background-color: rgba(128, 128, 128, 0.1);
    align-items: center;
    justify-content: center;
    border-top: 10px;
    border-color: transparent;
}

/*Soma*/
#butao1 {
    position: absolute;
    top: 13vh;
    left: 31vh;
    border-color: transparent;
    width: 25vh;
    height: 7vh;
    border-radius: 5px;
    color: white;
}

#butao1:disabled {
    background-color: var(--disabled-color);
    cursor: var(--disabled-cursor);
}

#butao1:enabled {
    background-color: var(--enabled-color);
    cursor: var(--enabled-cursor);
}

/*Subtração*/
#butao2 {
    position: absolute;
    top: 13vh;
    left: 66vh;
    border-color: transparent;
    width: 25vh;
    height: 7vh;
    border-radius: 5px;
    color: white;
}

#butao2:disabled {
    background-color: var(--disabled-color);
    cursor: var(--disabled-cursor);
}

#butao2:enabled {
    background-color: var(--enabled-color);
    cursor: var(--enabled-cursor);
}


/*Divisão*/
#butao3 {
    position: absolute;
    top: 13vh;
    left: 101vh;
    cursor: pointer;
    border-color: transparent;
    width: 25vh;
    height: 7vh;
    border-radius: 5px;
    color: white;
}

#butao3:disabled {
    background-color: var(--disabled-color);
    cursor: var(--disabled-cursor);
}

#butao3:enabled {
    background-color: var(--enabled-color);
    cursor: var(--enabled-cursor);
}

/*Multiplicação*/
#butao4 {
    position: absolute;
    top: 13vh;
    left: 134vh;
    border-color: transparent;
    width: 25vh;
    height: 7vh;
    border-radius: 5px;
    color: white;
}

#butao4:disabled {
    background-color: var(--disabled-color);
    cursor: var(--disabled-cursor);
}

#butao4:enabled {
    background-color: var(--enabled-color);
    cursor: var(--enabled-cursor);
}

/*Módulo*/
#butao5 {
    position: absolute;
    top: 30vh;
    left: 51vh;
    border-color: transparent;
    width: 25vh;
    height: 7vh;
    border-radius: 5px;
    color: white;
}

#butao5:disabled {
    background-color: var(--disabled-color);
    cursor: var(--disabled-cursor);
}

#butao5:enabled {
    background-color: var(--enabled-color);
    cursor: var(--enabled-cursor);
}

/*Exponenciação*/
#butao6 {
    position: absolute;
    top: 30vh;
    cursor: pointer;
    left: 83vh;
    border-color: transparent;
    width: 25vh;
    height: 7vh;
    border-radius: 5px;
    color: white;
}

#butao6:disabled {
    background-color: var(--disabled-color);
    cursor: var(--disabled-cursor);
}

#butao6:enabled {
    background-color: var(--enabled-color);
    cursor: var(--enabled-cursor);
}

/*Incremento*/
#butao7 {
    position: absolute;
    top: 30vh;
    left: 116vh;
    cursor: not-allowed;
    border-color: transparent;
    width: 25vh;
    height: 7vh;
    border-radius: 5px;
    color: white;
}

#butao7:disabled {
    background-color: var(--disabled-color);
    cursor: var(--disabled-cursor);
}

#butao7:enabled {
    background-color: var(--enabled-color);
    cursor: var(--enabled-cursor);
}

/*Primeiro campo*/
#n1 {
    width: 13%;
    padding: 10px;
    position: absolute;
    top: 22%;
    left: 35%;
    border-color: transparent;
    color: black;
    background-color: white;
}

/*Segundo campo*/
#n2 {
    width: 13%;
    padding: 10px;
    position: absolute;
    top: 22%;
    left: 50%;
    border-color: transparent;
    color: black;
    background-color: white;
}

/*Resposta*/
#alert {
    position: absolute;
    top: 34vh;
    left: 85vh;
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
}

/*Telas de alerta*/
/*Aviso inicial*/
#text {
    align-items: center;
    justify-content: center;
    font-size: 17px;
    display: flex;
    text-align: center;
    position: relative;
    top: 15%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

#overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

#modal {
    width: 290px;
    height: 150px;
    position: fixed;
    top: 2%;
    left: 75%;
    background-color: rgb(43, 43, 43);
    position: fixed;
    visibility: hidden;
    border-color: rgb(0, 0, 0)
}

#modal.visible {
    visibility: visible;
    animation: slideDown 1s ease;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}

#modal.hidden {
    animation: slideUp 1s ease;
}

@keyframes slideUp {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

#modal.hidden2 {
    visibility: hidden;
}

/*Avisos do topo*/
#over {
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#mod {
    width: 500px;
    height: 30px;
    position: fixed;
    top: 0;
    left: 30%;
    position: fixed;
    visibility: hidden;
    border-color: rgb(0, 0, 0);
}

#mod.visible {
    visibility: visible;
    animation: slideleft 1s ease;
}

@keyframes slideleft {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#mod.hidden {
    animation: slideright 1s ease;
}

@keyframes slideright {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

#mod.hidden2 {
    visibility: hidden;
}

#para {
    align-items: center;
    justify-content: center;
    font-size: 17px;
    display: flex;
    text-align: center;
    position: relative;
    top: -50%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*Progesso Fase 1*/
#overlar {
    display: flex;
    background-color: rgba(0, 0, 0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#overlar.visible {
    visibility: visible;
    animation: Down 1s ease;
}

@keyframes Down {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

#overlar.hidden {
    animation: Up 1s ease;
}

@keyframes Up {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

#modelo {
    background-color: green;
    width: 300px;
    height: 200px;
    align-items: center;
    visibility: hidden;
}

#modelo.visible{
    visibility: visible;
    animation: Down2 1s ease;
}

@keyframes Down2 {
    from{
        opacity: 0;
        transform: translateY(-100%);
    } to {
        opacity: 1;
        transform: translate(0);
    }
}

#modelo.hidden{
    animation: Up2 1s ease
}


@keyframes Up2 {
    from {
        opacity: 1;
        transform: translateY(0);
    } to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

#text2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    display: flex;
    text-align: center;
    top: 10%;
    color: white;
    font-size: 17px;
}

/*Botão do progresso*/
#butao8 {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    height: 35px;
    width: 120px;
    cursor: pointer;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 20%;
    left: 30%;
}

#butao8:disabled {
    visibility: hidden;
}